@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
	--bg: #191b2a;
	--font: #ffffff;	
	--primary: #2de0a1;
	--secondary: #fe5654;
	--tertiary: #52546b;
}