@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --bg: #fff;
    --font: #686b6a;
    --main: #3eb398;
    --hover-main: #71ddc0;
    --secondary: #f4f8f7;
    --warning: #f4be38;
    --danger: #e25d6c;
    --shadow: #686b6a;
}

.dark:root {
    --bg: #1c2230;
    --font: #fff;
    --main: #3eb398;
    --hover-main: #71ddc0;
    --secondary: #232a3b;
    --warning: #f4be38;
    --danger: #e25d6c;
    --shadow: #686b6a;
}

* {
    font-family: 'Roboto', sans-serif;
    --ion-background-color: var(--bg);
}

body {
    background-color: var(--bg);
    transition: 0.2s linear;
}

.main-color {
    color: var(--main);
}

.main-color:hover {
    color: var(--hover-main);
}