@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --bg: #fff;
    --font: #686b6a;
    --main: #3eb398;
    --hover-main: #71ddc0;
    --secondary: #f4f8f7;
    --warning: #f4be38;
    --danger: #e25d6c;
    --box-shadow: 0px -5px 10px 3px #222222;
}

.dark:root {
    --bg: #1c2230;
    --font: #686b6a;
    --main: #3eb398;
    --hover-main: #71ddc0;
    --secondary: #f4f8f7;
    --warning: #f4be38;
    --danger: #e25d6c;
    --box-shadow: 0px -5px 10px 3px #222222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    color: var(--font);
    background-color: var(--bg);
    transition: 0.2s linear;
}